<header>
  <nav class="primary">
    <ul>
      <li><a href="{{ site.baseurl }}/" class="logomark" target="_self">
        {% include svg/discover.svg %}
      </a></li>

      <li><b><a href="{{ site.baseurl }}/" target="_self">
        Toolb 发现
      </a></b></li>
    </ul>

    <ul>
      <li><a href="{{ site.baseurl }}/feed.xml" title="RSS Feed">
        {% include svg/rss-square.svg %}
      </a></li>
    </ul>
  </nav>
  <nav class="secondary">
    <div>
      <a href="{{ site.baseurl }}/tags/">所有标签</a>
      <a href="{{ site.baseurl }}/tags/#2021-discover">MIXAGE FIGHTERS 2021</a>
      <a href="{{ site.baseurl }}/tags/#animation">动画</a>
      <a href="{{ site.baseurl }}/tags/#kichiku">鬼畜</a>
      <a href="{{ site.baseurl }}/tags/#music">音乐</a>
      <a href="{{ site.baseurl }}/tags/#bnj">拜年祭</a>
      <!--<a href="{{ site.baseurl }}/tags/#devs">Developers</a>
      <a href="{{ site.baseurl }}/tags/#design">Design</a> -->
    </div>
  </nav>
</header>
